<!DOCTYPE html>
<html>
  <head>
    <title>Landmarks</title>
  </head>

  <body>
    <h1>List of landmarks</h1>
  <ol>
    <% @landmarks.each do |landmark| %>
    <li><%= landmark.name %> -
    <%= landmark.year_completed %> - <a href="/landmarks/<%= landmark.id %>/edit">Edit</a></li>
    <% end %>
  </ol>
    <h2><a href="/landmarks/new">Create New Landmark</a></h2>
  </body>
</html>
